body {
  background-color: #ffeead;
  /* background-color: dimgray; */
  background-color: #96ceb4;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
}
#rules, #popup {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 33%;
  background-color: #ff6f69;
  line-height: 1.5;
  padding: 25px;
  border: #fff solid 3px;
  display: block;
}
#popup{
  background-color: #96ceb4;
  z-index: 1;
  display: block;
}
button {
  background-color: #ffcc5c;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 15px 32px;
  cursor: pointer;
}
#container {
  display: none;
}
#container h1{
  text-align: center;
}
#used-cards{
  display: flex;
}

#bad {
  margin: 10px;
  border: 5px #ffcc5c solid;
  border-radius: 10px;
  height: 220px;
}
#bad .card{
  opacity: 0.5;
  cursor: not-allowed;
}
#table {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}
#table h2 {
  text-align: center;
}

#selected-cards {
  border: #fff 5px dashed;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 67px 50px 50px 50px;
}
#selected-cards .person {
  background-color: #a0db8e;
  border: 1px white solid;
  border-radius: 10px;
  width: 80px;
  height: 110px;
}
#player {
  width: 453px;
}
#hand {
  margin: 10px;
  border: 5px #ffcc5c solid;
  border-radius: 10px;
  height: 220px;
}
.row {
  border: 5px #ffcc5c solid;
  border-radius: 10px;
  width: 400px;
  height: 110px;
  margin: 10px;
}
.card {
  display: inline-block;
  background-color: #ff6f69;
  width: 70px;
  height: 100px;
  margin: 5px;
  font-size: 32px;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  cursor: grab;
  transition: 1s;
}

.red{
  border: 5px #ff6f69 solid;
  cursor: pointer;
}
#score {
  font-size: 24px;
  text-align: center;
}

.my{
  background-color: lightblue;
}
